body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h3{
  color: #11999E;
}

h2{
  position: relative;
  color: #66BFBF;
  font-size: 2.5rem;
  margin-top: 0;
  font-family: 'Geostar Fill', cursive;
}

h1{
  position: relative;
  color: #65BFBF;
  line-height: 2;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Geostar', cursive;
}

p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

.top-container{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../images/yosemite.JPG');
  background-size: cover;
}

.top-container::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.50);
}

.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 40px 0 20px;
}

.profile-picture{
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.contact-msg{
  width: 40%;
  margin: 40px auto;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat';
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}

.copyright{
  color: white;
  font-size: 0.75rem;
  padding: 10px 0;
}

.companies {
  display: flex;
  flex-direction: column;
}

.footer-link{
  text-decoration: none;
  color: #11999A;
  padding: 15px;
}

.footer-link:hover{
  color: #EAF6F6;
}

.img-responsive {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.skill-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width:  100px;
  height: 100px;
  padding-bottom: 15px;
}

.companies {
  justify-content: center;
  align-items: center;
}

.oracle-logo {
  float: left;
  width:  200px;
  height: 200px;
  padding-bottom: 15px;
}

.acssa-logo {
  float: left;
  width:  200px;
  height: 200px;
  padding-bottom: 15px;
}

.projects h2 {
  margin-bottom: 50px;
}

.experience h2 {
  margin-bottom: 25px;
}

.project-images {
  width:  200px;
  height: 400px;
}

.projects img {
  object-fit: contain;
  max-height: 500px;
}

.project-slides {
  justify-content: center;
  align-items: center;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }

 .navbar-custom a {
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
 }

 html {
  scroll-behavior: smooth;
}

.experience p {
  margin-bottom: 40px;
}